*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #333333;
  font-size: 1.6rem;
  line-height: 1.5;

  margin: 1rem 2rem;
}

.nav {
  display: flex;
}

.nav__header {
  margin-right: auto;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  padding: 1em 2em;
}

.nav__link:hover {
  background-color: #f1f1f1;
}
